@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#app {
    padding-top: 80px;
    flex-grow: 1;
    min-height: 100vh;
}

.content {
    padding: 20px;
}

#language-selector {
    margin-top: 8px;
    background-color: #212529;
    color: white;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

footer a:hover {
    color: #0d6efd;
}